<div class="top-banner">
  <p class="top-banner-title">Payment System Upgrade Period: July 27th, 2026 through August 1st, 2026.</p>
  <p>Payment, billing, and cancellation services may be limited during this time. We apologize for any inconvenience and appreciate your patience as we improve the payment experience. <a href="{% if request.user.is_registrar_user %}https://mailchi.mp/perma.cc/permacc-scheduled-payment-system-upgrade-july-27-july-31{% else %}https://mailchi.mp/perma.cc/permacc-scheduled-payment-system-upgrade-july-27-july-5860029{% endif %}" target="_blank">View more details</a>, and reach out to <a href="mailto:{{ DEFAULT_FROM_EMAIL }}" target="_blank">{{ DEFAULT_FROM_EMAIL }}</a> if you have any questions.</p>
</div>
