{% extends "base-responsive.html" %}
{% load ui_logic %}

{% block bodyFlags %}_admin{% endblock %}

{% block defaultSkipTarget %}{% comment %}empty on purpose, to override the default and provide a template-specific target below{% endcomment %}{% endblock defaultSkipTarget %}

{% block mainContent %}
  <div id="dashboard-container" class="container cont-fixed">
    <div class="row">
      <div class="col-sm-12">
        {% if request.user|is_staff_or_registrar %}
          <h1 id="page-title" class="page-title">Manage users and organizations</h1>
        {% elif request.user.is_organization_user %}
          <h1 id="page-title" class="page-title">Manage users</h1>
        {% endif %}
      </div>
    </div> <!-- end row -->
    <div class="row admin-content">
      {% user_has_manage_sidebar request.user as show_manage_sidebar %}
      {% if show_manage_sidebar %}
        <div class="col-sm-3">

          <!-- Dashboard tabs -->
          {% render_manage_dashboard_nav request.user this_page %}
        </div><!--/col-sm-3-->
      {% endif %}

      <!-- Dashboard tab content -->
      <div class="tab-content col-sm-9">
        <div class="tab-pane active">
          <p id="main-skip-target" tabindex="-1" class="sr-only">Main Content</p>
          {% block dashboardContent %}{% endblock dashboardContent %}
        </div><!--/.tab-pane-->
      </div><!--/.tab-content-->
    </div><!-- end row -->
  </div><!--/#dashboard-container-->
{% endblock %}
